.calbody{
    position: absolute;
    left: 40%;
    top: 7%;
    width: 25rem;
    height: 35rem;
    background-color:rgb(44, 31, 31);
    border-radius: 50px;
}
#show{
    position: absolute;
    left: 11.2%;
    top: 10%;
    width: 20rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 50px;
    cursor: text;
    z-index: 1;
    text-align: center;
    line-height: 2.5rem; 
    font-size: 1.5rem;
}
button{
    width: 50px;
    height: 45px;
    font-size: large;
    background-color: rgb(186, 186, 223);
    border: none;
    cursor: pointer;
}
#btn7{
    position: absolute;
    top: 23%;
    left: 13%;
}
#btn8{
    position: absolute;
    top: 23%;
    left: 33%;
}
#btn9{
    position: absolute;
    top: 23%;
    left: 53%;
}
#divi{
    position: absolute;
    top: 23%;
    left: 75%;
}
#btn4{
    position: absolute;
    top: 38%;
    left: 13%;
}
#btn5{
    position: absolute;
    top: 38%;
    left: 33%;
}
#btn6{
    position: absolute;
    top: 38%;
    left: 53%;
}
#addition{
    position: absolute;
    top: 38%;
    left: 75%;
}
#btn1{
    position: absolute;
    top: 53%;
    left: 13%;
}
#btn2{
    position: absolute;
    top: 53%;
    left: 33%;
}
#btn3{
    position: absolute;
    top: 53%;
    left: 53%;
}
#minus{
    position: absolute;
    top: 53%;
    left: 75%;
}
#point{
    position: absolute;
    top: 70%;
    left: 13%;
}
#btn0{
    position: absolute;
    top: 70%;
    left: 33%;
}
#star{
    position: absolute;
    top: 70%;
    left: 53%;
}
#C{
    position: absolute;
    top: 70%;
    left: 75%;
    background-color: rgb(253, 60, 60);
}
#equal{
    position: absolute;
    width: 18.5rem;
    top: 85%;
    left: 13%;
    background-color: rgb(253, 60, 60);
}